.container__dropdown {
  width: 14em;
  margin: 1em 0 3em 0;
}

@media (min-width: 45em) {
  .container__dropdown {
    margin: 0;
  }
}

.button__dropdown {
  border: 0;
  outline: none;
  border-radius: 4px;
  background-color: var(--page-element);
  color: var(--font-colour);
  box-shadow: 0 0 10px 0 var(--page-element-shadow);
  width: 100%;
  padding: 1.5em;
  position: relative;
  text-align: left;
  position: relative;
}
.button__dropdown:hover {
  cursor: pointer;
}

.button__dropdown--icon {
  width: 1.5em;
  position: absolute;
  right: 1em;
  transform: translateY(-15%);
  filter: invert(100%) sepia(54%) saturate(2%) hue-rotate(320deg)
    brightness(110%) contrast(100%);
}
.button__dropdown--icon.light {
  filter: invert(0%) sepia(0%) saturate(2%) hue-rotate(278deg) brightness(104%)
    contrast(100%);
}

.dropdown__options {
  display: none;
  list-style: none;
  padding: 4px 0;
  width: inherit;
  position: absolute;
}
.dropdown__options--show {
  display: block;
}

.dropdown__option {
  background-color: var(--page-element);
  margin-top: -1px;
  padding: 0.7em 1.5em;
}

.dropdown__option:first-child {
  border-radius: 4px 4px 0 0;
}
.dropdown__option:nth-last-child(1) {
  border-radius: 0 0 4px 4px;
}

.dropdown__option:active,
.dropdown__option:focus,
.dropdown__option:hover {
  background-color: #696969;
}
.dropdown__option[aria-selected="true"] {
  background: var(--page-element-shadow);
  cursor: pointer;
}
