.container__results {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  /* align-items: flex-start; */
}

@media (min-width: 45rem) {
  .container__results {
    grid-template-columns: repeat(4, 1fr);
    gap: 4em;
  }
}

@media (min-width: 90rem) {
  .container__results {
    gap: 6em;
  }
}
