.country-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--page-element);
  box-shadow: 0 0 10px 0 var(--page-element-shadow);
}

.country-flag {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.country-facts-container {
  padding: 2em;
}

.country-name {
  padding-bottom: 1em;
}

.country-fact-heading {
  font-weight: 600;
}