.App {
  font-family: "Nunito Sans", sans-serif;
  color: var(--font-colour);
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  background-color: var(--main-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
