@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

[data-theme="dark"] {
  --main-element: hsl(209, 23%, 22%);
  --main-background: hsl(207, 26%, 17%);
  --font-colour: hsl(0, 0%, 100%);
}

[data-theme="light"] {
  --main-element: hsl(0, 0%, 100%);
  --main-background: hsl(0, 0%, 98%);
  --font-colour: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Nunito Sans", sans-serif;
}
