@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

[data-theme="dark"] {
  --page-element: hsl(209, 23%, 22%);
  --page-element-shadow: #1a232c;
  --main-background: hsl(207, 26%, 17%);
  --font-colour: hsl(0, 0%, 100%);
  --attribution-link: #0e86d4;
}

[data-theme="light"] {
  --page-element: hsl(0, 0%, 100%);
  --page-element-shadow: #d3d3d3;
  --main-background: hsl(0, 0%, 98%);
  --font-colour: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --attribution-link: #055c9d;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
