.border-country-button {
  cursor: pointer;
  text-align: center;
  padding: 0.3em 0;
  background-color: var(--page-element);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8em;
  box-shadow: 0 0 10px 0 var(--page-element-shadow);
}

@media (min-width: 90rem) {
  .border-country-button {
    padding: 0.3em 1em;
  }
}
