.country-detail-container {
  padding: 2em;
}

@media (min-width: 90rem) {
  .country-detail-container {
    display: flex;
    flex-direction: column;
    padding: 5em;
    max-width: 90rem;
    margin: 0 auto;
  }
}
